{% extends "base.html" %}

{% block title %} {{project.project_name}} {% endblock %}

{% block extraStatic %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/calibration.css') }}">
{% endblock %}

{% block content %}

    <div class="controller">
        <button onmousedown="leftIn()">Left In</button>
        <button onmousedown="rightIn()">Right In</button><br>
        <button onmousedown="leftOut()">Left Out</button>
        <button onmousedown="rightOut()">Right Out</button>
    </div>

    <div class="slidecontainer">
        <input type="range" min="1" max="1023" value="1" class="slider" id="myRange">
    </div>
    <a href="{{ url_for('simulation_page',id=project.id) }}"><button>Next</button></a>
     <script src = "{{ url_for('static', filename='javascript/calibration.js') }}"></script>

{% endblock %}
